:root{
    /* bg colors */
    --bg-primary: #1e1e1e;
    --bg-secondary: #2e2e2e;
    --bg-active: #f9f8f8;
    --bg-danger-color: #ff4c4c;
    --bg-success-color: #4caf50;

    /* text colors */
    --text-primary: #f9f8f8;
    --text-secondary: #cfcfcf;
    --text-active: #1e1e1e;
    --text-highlight: #ff9800;

    /* paddings */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --padding-xlarge: 2rem;
    --padding-2xlarge: 3rem;

    /* margin */
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;
    --margin-xlarge: 2rem;
    --margin-2xlarge: 3rem;

    /* gutter */
    --gutter-small: 0.5rem;
    --gutter-medium: 1rem;
    --gutter-large: 1.5rem;
    --gutter-xlarge: 2rem;
    --gutter-2xlarge: 3rem;

    /* font size */
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --font-size-2xlarge: 3rem;

    /* border redius */
    --border-radius-small: 0.2rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;
    --border-radius-xlarge: 1.5rem;
    --border-radius-2xlarge: 2rem;
}