*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
:root{
    /*background color*/
    --bg-primary: #0c0c0c;
    --bg-secondary: #25c528;
    --bg-food: #c62828;

    /*text color*/
    --text-primary: #f0f0f0;

    /*spacing*/
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;

    /*border color*/
    --border-primary: #9b9292d0;

    /*border radius*/
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
    --border-radius-3xl: 24px;

}
html{
    background-color:var(--bg-primary);
    color:var(--text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}
section{
    padding: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--spacing-lg);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--border-primary) ;
    border-radius: var(--border-radius-md);
}

.board{
    border: 1px solid var(--border-primary);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}
.block{
    width: 30px;
    height: 30px;
    /* border: 0.2px solid var(--border-primary); */
}
.snake{
    background-color: var(--bg-secondary);
}
.food{
    background-color: var(--bg-food);
}
.btn{
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .start-game,.game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
}
.game-over{
    display: none;
}